header{
    background-color: #1E2A38;
    color: white;
    font-family: "Inter", sans-serif;
    margin: 20px;
    padding: 10px;
    text-align: center;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1.6;
}
nav {
    background:#2F3B47;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            display: inline;
            margin: 0 15px;
            a{
                color: #ffffff;
                text-decoration: none;
                font-weight: bold;
                &:hover {
                    text-decoration: underline;
                }
            }
    }
}
}
footer {
    background-color: #1E2A38;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: "Inter", sans-serif;
    margin-left: -10px;
    margin-right: -10px;
}
section.create{
    background-color: #ffffff;
    padding: 25px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 15px;
    margin-left: -25px;
    margin-right: -25px;
}